.page-main {
  min-height: 1400px;
  background-image: image-url("main-background.jpg");
}


.main_contents {
  border-left: groove 5px lavender;
  border-right: groove 5px lavender;
  min-height: 1400px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: khaki;
}

.jumbotron {
  background-color: transparent;
}

.home-contents {
  padding-top: 50px;
  text-align: center;
}

.contents-pictures {
  padding-top: 30px;
}

.btn {
  margin-top: 15px;
}
