.page-main {
  min-height: 700px;
  background-image: image-url("main-background.jpg");
}


.main_contents {
  border-left: groove 5px lavender;
  border-right: groove 5px lavender;
  min-height: 700px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: khaki;
}

.jumbotron {
  background-color: transparent;
}
